**/__pypackages__/
**/__pycache__/
/build/
*.vcd
/result
.pdm-build

.DS_Store

.bsp/
.cache
.history
.idea/
.lib/
dist/*
lib_managed/
project/boot/
project/plugins/project/
project/project/target/
src_managed/
target/
test_run_dir/
