**/__pypackages__/
**/__pycache__/
/build/
/result
.pdm-build

.DS_Store

*.asc
*.bin
*.vcd
*.json
*.rpt
*.tim

.metals/
.bloop/
metals.sbt

.bsp/
.cache
.history
.idea/
.lib/
dist/*
lib_managed/
project/boot/
project/plugins/project/
project/project/target/
src_managed/
target/
test_run_dir/
